@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  font-family: "urbanist";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1596px;
  margin: auto;
}
header {
  max-width: 1596px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
body {
  background: rgb(20, 20, 20);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  padding: 14px 24px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
nav button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 16px 24px;
}
.discover button,
a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(26, 26, 26);
  border: none;
}
.discover {
  margin: 0 15px;
  padding: 18px 0;
  text-align: center;
  position: relative;
}
.discover img {
  position: absolute;
  right: 0;
}
.home {
  background-image: url(../public/imgs/building.svg);
  background-position: right;
  background-repeat: no-repeat;
  height: 80vh;
}
.home-box {
  max-width: 1596px;
  margin: auto;
}
.home-right {
  max-width: 758px;
  padding: 100px 0;
}
.home-right h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.home-right p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
}
.home-right button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  background: rgb(30, 30, 30);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;
  padding: 18px 24px;
}
.home-right .purple {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;

  /* Purple/60 */
  background: rgb(112, 59, 247);
  padding: 18px 24px;
}
.card h3 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.right-bottom {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.right-bottom .card {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  padding: 16px 24px;
}
.right-center {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.home img {
  position: absolute;
}
.sub-home {
  display: flex;
  max-width: 1596px;
  margin: auto;
  justify-content: space-around;
}
.box {
  padding: 30px 80px;
  background-color: rgb(38, 38, 38);
  text-align: center;
  border-radius: 12px;
  margin-top: 20px;
  color: aliceblue;
}
.feature {
  max-width: 1596px;
  margin: auto;
  margin-top: 150px;
}
.top-part {
  margin-bottom: 70px;
}
.feature-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.feature-text {
  max-width: 1200px;
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
}
.text {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text button {
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding: 20px 30px;
}
.bottom-part {
  /* display: flex;
  justify-content: space-around; */
}
.card {
  padding: 40px 40px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
}
.describe {
}
.card-title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}
.card-text {
  /* Paragraph */
  position: static;
  width: 432px;
  height: 54px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  color: rgb(153, 153, 153);
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 6px 0px;
  text-align: left;
}
.btn-box {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 30px 0;
}
.btn-box button {
  padding: 10px 20px;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 28px;
  color: aliceblue;

  /* Grey/10 */
  background: rgb(26, 26, 26);
}
.details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
}
.price-text {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 5px;
}
.price {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.details-btn {
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;
  border: none;
  /* Purple/60 */
  background: rgb(112, 59, 247);
}
.rating {
  max-width: 1596px;
  margin: auto;
  margin-top: 150px;
}
.rating-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 120px;
}
.rating-container {
  margin-bottom: 50px;
}
.containers {
  padding: 50px 50px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
}
.containers p {
  max-width: 412px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 15px;
}
.containers h4 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 30px;
}
.photo {
  margin-top: 150px;
}
.photos {
  margin-top: 70px;
}
.questions {
  max-width: 1596px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}
.containers-two {
  padding: 60px 40px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
}
.containers-two h4 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.containers-text {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.6%;
  text-align: left;
  margin-bottom: 30px;
}
.containers-btn {
  padding: 15px 10px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 131%;
  letter-spacing: -0.6%;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
}
.estate-btn {
  border-radius: 10px;
  padding: 3px 15px;
  /* Purple/60 */
  background: rgb(112, 59, 247);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.estate {
  max-width: 1596px;
  margin: auto;
  margin-bottom: 150px;
}
.estate-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}
.estate-text {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 1154px;
}
.text-container {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  max-width: 1596px;
  margin: auto;
}

.email input {
  background: rgb(20, 20, 20);
  outline: none;
  border: none;
  color: aliceblue;
}
.email {
  display: flex;
  padding: 7px 10px;
  gap: 14px;
  align-items: center;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  margin-top: 15px;
  /* Grey/08 */
  background: rgb(20, 20, 20);
}
.section p {
  color: rgb(153, 153, 153);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6%;
  text-align: left;
  margin-bottom: 30px;
}
.section li {
  margin-bottom: 20px;
}
.end {
  max-width: 1596px;
  margin: auto;
  /* Grey/10 */
  background: rgb(25, 25, 25);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.about-main {
  max-width: 1596px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  padding: 168px 0;
}
.about-left {
  max-width: 755px;
  text-align: left;
}
.about-left h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}
.about-left p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 80px;
}
.about-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 755px;
  margin: auto;
}
.about-card {
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  background: rgb(26, 26, 26);
  max-height: 137px;
}
.about-card h3 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.about-card p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.about-right {
  margin-top: 10px;
}
.our-values {
  max-width: 1596px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 240px;
}
.values-left {
  max-width: 517px;
  text-align: left;
  margin: auto;
}
.values-left h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}
.values-left p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.values-right {
  max-width: 999px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  box-shadow: 0px 0px 0px 10px rgb(25, 25, 25);
  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 60px;
}
.values-box p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 30px;
}
.values-top {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}
.values-top h3 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.our-achivements {
  max-width: 1596px;
  margin: auto;
  padding-bottom: 150px;
}
.achivements-top {
  max-width: 1297px;
  padding-bottom: 80px;
}
.achivements-top h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 14px;
}
.achivements-top p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.achivements-bottom {
  display: flex;
  justify-content: space-between;
}
.achivement-card {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  max-width: 505px;
  box-shadow: 0px 0px 0px 8px rgb(25, 25, 25);
  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 50px;
}
.achivement-card h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 30px;
}
.achivement-card p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.experience {
  max-width: 1596px;
  margin: auto;
  padding-bottom: 150px;
}
.experience-top {
  max-width: 1297px;
}
.experience-top h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 14px;
}
.experience-top p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.experience-bottom {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.experince-card {
  max-width: 512px;
  box-sizing: border-box;
  border-left: 1px solid rgb(38, 38, 38);
  margin-top: 50px;
}

.step h3 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border-left: 1px solid rgba(112, 59, 247, 0.345);
  padding: 16px 26px;
}
.card-info {
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 0px 12px 12px 12px;
  border-left: 1px solid rgba(112, 59, 247, 0.345);
  border-top: 1px solid rgba(112, 59, 247, 0.375);
  background: linear-gradient(
    156.17deg,
    rgb(112, 59, 247) -49.397%,
    rgba(112, 59, 247, 0) 13.589%
  );
}
.card-info h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.card-info p {
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 16px;
}

.team-top {
  max-width: 1030px;
  padding-bottom: 60px;
}
.team-top h2 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 38px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.team-top p {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.team-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.bio {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  padding: 30px;
}
.bio h4 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 50px;
}
.bio p {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 6px;
}
.image-box {
  position: relative;
}
.box-img {
  position: absolute;
  top: 205px;
  right: 105px;
}
.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;

  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 100px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  margin-top: 24px;
}
.button-box h5 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
/* .clients {
  padding-top: 150px;
} */

.clients-top {
  max-width: 1297px;
  padding-bottom: 80px;
  padding-top: 100px;
}
.clients-top h2 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 14px;
}
.clients-top p {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.clients-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.clients-card {
  max-width: 773px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  box-shadow: 0px 0px 0px 8px rgb(25, 25, 25);
  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 50px;
  max-width: 773px;
}
.clients-card-top {
  display: flex;
  justify-content: space-between;
 padding-bottom: 40px;
}
.clients-card-top button{
  box-sizing: border-box;
/* Grey/15 */
border: 1px solid rgb(38, 38, 38);
border-radius: 10px;

/* Grey/10 */
background: rgb(26, 26, 26);
color: rgb(255, 255, 255);
font-family: Urbanist;
font-size: 18px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
padding: 2px 20px;
}
.top-left {
}
.top-left p{
  color: rgb(153, 153, 153);
font-family: Urbanist;
font-size: 18px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.top-left h3{
  color: rgb(255, 255, 255);
font-family: Urbanist;
font-size: 30px;
font-weight: 600;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.clients-card-center {
  display: flex;
  justify-content: space-between;
}
.center-left, .center-right h5{
  color: rgb(153, 153, 153);
font-family: Urbanist;
font-size: 18px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.center-left, .center-right h3{
  color: rgb(255, 255, 255);
font-family: Urbanist;
font-size: 16px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.center-right {
}
.clients-card-bottom {
  box-sizing: border-box;
/* Grey/15 */
border: 1px solid rgb(38, 38, 38);
border-radius: 12px;
padding: 25px;
margin-top: 40px;

}
.clients-card-bottom  h6{
  color: rgb(153, 153, 153);
font-family: Urbanist;
font-size: 18px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.clients-card-bottom p{
  color: rgb(255, 255, 255);
font-family: Urbanist;
font-size: 18px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}