@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  font-family: "urbanist";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
header {
  max-width: 1596px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
body {
  background: rgb(20, 20, 20);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  padding: 14px 24px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
nav button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 16px 24px;
}
.discover button,
a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(26, 26, 26);
  border: none;
}
.discover {
  margin: 0 15px;
  padding: 18px 0;
  text-align: center;
  position: relative;
}
.discover img {
  position: absolute;
  right: 0;
}
.home {
  background-image: url(../public/imgs/building.svg);
  background-position: right;
  background-repeat: no-repeat;
  height: 80vh;
}
.home-box {
  max-width: 1596px;
  margin: auto;
}
.home-right {
  max-width: 758px;
  padding: 100px 0;
}
.home-right h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.home-right p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
}
.home-right button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  background: rgb(30, 30, 30);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;
  padding: 18px 24px;
}
.home-right .purple {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;

  /* Purple/60 */
  background: rgb(112, 59, 247);
  padding: 18px 24px;
}
.card h3 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.right-bottom {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.right-bottom .card {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  padding: 16px 24px;
}
.right-center {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.home img {
  position: absolute;
}
.sub-home {
  display: flex;
  max-width: 1596px;
  margin: auto;
  justify-content: space-around;
}
.box {
  padding: 30px 80px;
  background-color: rgb(38, 38, 38);
  text-align: center;
  border-radius: 12px;
  margin-top: 20px;
  color: aliceblue;
}
.feature {
  max-width: 1596px;
  margin: auto;
  margin-top: 150px;
}
.top-part {
  margin-bottom: 70px;
}
.feature-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.feature-text {
  max-width: 1200px;
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
}
.text {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text button {
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding: 20px 30px;
}
.bottom-part {
  /* display: flex;
  justify-content: space-around; */
}
.card {
  padding: 40px 40px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
}
.describe {
}
.card-title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}
.card-text {
  /* Paragraph */
  position: static;
  width: 432px;
  height: 54px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  color: rgb(153, 153, 153);
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 6px 0px;
  text-align: left;
}
.btn-box {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 30px 0;
}
.btn-box button {
  padding: 10px 20px;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 28px;
  color: aliceblue;

  /* Grey/10 */
  background: rgb(26, 26, 26);
}
.details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
}
.price-text {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 5px;
}
.price {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.details-btn {
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;
  border: none;
  /* Purple/60 */
  background: rgb(112, 59, 247);
}
.rating {
  max-width: 1596px;
  margin: auto;
  margin-top: 150px;
}
.rating-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 120px;
}
.rating-container {
  margin-bottom: 50px;
}
.containers {
  padding: 50px 50px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
}
.containers p {
  max-width: 412px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 15px;
}
.containers h4 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 30px;
}
.photo {
  margin-top: 150px;
}
.photos {
  margin-top: 70px;
}
.questions {
  max-width: 1596px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}
.containers-two {
  padding: 60px 40px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
}
.containers-two h4 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.containers-text {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.6%;
  text-align: left;
  margin-bottom: 30px;
}
.containers-btn {
  padding: 15px 10px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 131%;
  letter-spacing: -0.6%;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
}
.estate-btn {
  border-radius: 10px;
  padding: 3px 15px;
  /* Purple/60 */
  background: rgb(112, 59, 247);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.estate {
  max-width: 1596px;
  margin: auto;
  margin-bottom: 150px;
}
.estate-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}
.estate-text {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 1154px;
}
.text-container {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  max-width: 1596px;
  margin: auto;
}

.email input {
  background: rgb(20, 20, 20);
  outline: none;
  border: none;
  color: aliceblue;
}
.email {
  display: flex;
  padding: 7px 10px;
  gap: 14px;
  align-items: center;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  margin-top: 15px;
  /* Grey/08 */
  background: rgb(20, 20, 20);
}
.section p {
  color: rgb(153, 153, 153);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6%;
  text-align: left;
  margin-bottom: 30px;
}
.section li {
  margin-bottom: 20px;
}
.end {
  max-width: 1596px;
  margin: auto;
  /* Grey/10 */
  background: rgb(25, 25, 25);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.about-main {
  max-width: 1596px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.about-left {
  max-width: 755px;
  text-align: left;
}
.about-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-card {
}
.about-right {
  margin-top: 10px;
}
